# this is for [nvm.fish](https://github.com/jorgebucaran/nvm.fish) compatibility
NVM_DIR=$(fish -c 'echo $nvm_data')

# for standard [nvm](https://github.com/nvm-sh/nvm) compatibility, use the following line instead
# NVM_DIR=$NVM_BIN

NODE_VERSIONS=$NVM_DIR
NODE_VERSION_PREFIX=v
use node
layout node